<% @page_title = "All Users" %>
<%= link_to("<< Back to Menu", admin_path, :class => 'back-link') %>
<div class="users index">
  <h2>Users</h2>
  <table class="listing">
    <%= image_tag('plus_sign.png', :size=>'11x11', :alt => '+') %>
    <%= link_to 'New User', new_user_path %>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email%></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
