<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :page_id %>
    <%= form.select(:page_id, @pages.map {|s| [s.name, s.id]})%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.select(:position, 1..@section_count) %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field">
    <%= form.label :content_type %>
    <td>
      <%= form.radio_button(:content_type, 'text') %> Text
      <%= form.radio_button(:content_type, 'html') %> HTML
    </td>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area(:content, :size => '40x10')%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
