<% @page_title = " All Sections" %>
<%= link_to("<< Back to Menu", admin_path, :class => 'back-link') %>
<div class="sections index">
  <h2>Sections</h2>
  <%= image_tag('plus_sign.png', :size=>'11x11', :alt => '+') %>
  <%= link_to 'New Section', new_section_path %>

  <table class="listing">
    <thead>
      <tr class="header">
        <th>Page</th>
        <th>Name</th>
        <th>Position</th>
        <th>Visible</th>
  <!--      <th>Content type</th>-->
  <!--      <th>Content</th>-->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.page_id %></td>
          <td><%= section.name %></td>
          <td><%= section.position %></td>
          <td><%= status_tag(section.visible) %></td>
  <!--        <td><%#= section.content_type %></td>-->
  <!--        <td><%#= section.content %></td>-->
          <td><%= link_to 'Show', section %></td>
          <td><%= link_to 'Edit', edit_section_path(section) %></td>
          <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
