<% @page_title = "Show Section" %>

<%= link_to '<< Back to list', sections_path %>


<p>
  <strong>Page:</strong>
  <%= @section.page_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @section.visible ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @section.content_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
