<% @page_title = "Edit Page" %>
<h2>Editing Page</h2>
<!--@page is being passed from the controller-->
<%= render 'form', page: @page %>

<%= link_to 'Show', @page %>
<%= link_to 'Back', pages_path %>
