<% @page_title = " All Pages" %>
<%= link_to("<< Back to Menu", admin_path, :class => 'back-link') %>
<div class="pages index">

<h2>Pages</h2>

  <%= image_tag('plus_sign.png', :size=>'11x11', :alt => '+') %>
  <%= link_to 'New Page', new_page_path %>

  <table class="listing">
    <thead>
      <tr class="header">
        <th>Subject</th>
        <th>Name</th>
        <th>Permalink</th>
        <th>Position</th>
        <th>Visible</th>
        <th>Sections</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.subject.name %></td>
          <td><%= page.name %></td>
          <td><%= page.permalink %></td>
          <td><%= page.position %></td>
          <td><%= status_tag(page.visible) %></td>
          <td><%= page.sections.size %></td>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
