<% @page_title = "Show Page" %>

<p>
  <strong>Subject:</strong>
  <%= @page.subject.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @page.permalink %>
</p>

<p>
  <strong>Position:</strong>
  <%= @page.position %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @page.visible ? 'Yes' : 'No' %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
