<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.select(:position, 1..@subject_count) %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :Created %>
    <%#= form.datetime_select(:created_at, :order=> [:month, :day, :year] ) %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
