<% @page_title = " All Subjects" %>
<%= link_to("<< Back to Menu", admin_path, :class => 'back-link') %>
<div class="subjects index">
  <h2>Subjects</h2>
  <%= image_tag('plus_sign.png', :size=>'11x11', :alt => '+') %>
  <%= link_to 'New Subject', new_subject_path %>
  <table class="listing" summary="Subject list">
    <thead>
      <tr class="header">
        <th>Name</th>
        <th>Position</th>
        <th>Visible</th>
        <th>Pages</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.position %></td>
          <td><%= status_tag(subject.visible) %></td>
          <td><%= subject.pages.size %></td>
          <td><%= link_to 'Show', subject_path(subject) %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
          <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
<%#= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>
