<% @page_title = "Show Subject" %>

<h2>Show Subject</h2>
<div class ="subjects show">
  <%= link_to '<< Back to list', subjects_path %>
  <p>
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= @subject.position %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= @subject.visible ? 'Yes': 'No' %>
  </p>
  <p>
    <strong>Created: </strong>
    <%=@subject.created_at %>
  </p>
  <p>
    <strong>Updated: </strong>
    <%=@subject.updated_at %>
  </p>

  <%= link_to 'Edit', edit_subject_path(@subject) %>

</div>
