<%= form_for(@section_edit, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @section_edit.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@section_edit.errors.count, "error") %> prohibited this section_edit from being saved:</h4>

      <ul>
      <% @section_edit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :user_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :section_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :section_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :summary, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :summary, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
