<div class="page-header">
  <%= link_to new_section_edit_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Section edit
  <% end %>
  <h1>Listing section_edits</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Section</th>
            <th>Summary</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @section_edits) do |section_edit| %>
            <td><%= section_edit.user_id %></td>
            <td><%= section_edit.section_id %></td>
            <td><%= section_edit.summary %></td>
            <td><%= link_to 'Show', section_edit %></td>
        <td><%= link_to 'Edit', edit_section_edit_path(section_edit) %></td>
        <td><%= link_to 'Destroy', section_edit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
