<div class="page-header">
  <%= link_to section_edits_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_section_edit_path(@section_edit), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show section_edit</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @section_edit.user_id %></dd>

  <dt>Section:</dt>
  <dd><%= @section_edit.section_id %></dd>

  <dt>Summary:</dt>
  <dd><%= @section_edit.summary %></dd>

</dl>
