<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
  <%= stylesheet_link_tag('admin', :media => 'all') %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="header">
  <h1>Simple CMS Admin</h1>
</div>
<div id="main">
  <p id="notice" class="notice"><%= notice %></p>

  <div id="content">
    <%= yield %>
  </div>
</div>
<div id="footer">
  <p id="copyright">&copy; hamza.com</p>
</div>
</body>
</html>
